@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #111827; /* default slate-900 */
  --secondary: #0ea5e9; /* sky-500 */
}

html, body {
  height: 100%;
}

body{
  @apply bg-white text-black antialiased;
}

.dark body{
  @apply bg-black text-white;
}

a{ @apply underline-offset-4; }
